<div class="card card-transparent m-b-10 m-t-10">
  <div class="card-body p-l-30 p-b-0 p-r-30 p-t-0">
  </div>
</div>

<pg-container extraHorizontalClass="bg-white">
  <div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">
      <div class="card card-default">
        <div class="card-header p-t-10">
          <div class="row">
            <div class="col-xs-3 col-md-3 col-lg-3">
              <h4 class="page-title inline btn-rounded m-b-0 m-t-5">
                <em class="icon-organization"></em>&nbsp;Roles </h4>
            </div>
            <div class="col-xs-9 col-md-9 col-lg-9">
              <div class="pull-right">
                <button
                  class="btn btn-tag btn-primary  btn-tag-primary btn-tag-rounded pull-right m-r-5"
                  (click)="rolesStore.insertRow()"
                >
                  <em class="icon-plus"></em>&nbsp;New Role</button>
                <button
                  class="btn btn-tag btn-primary  btn-tag-primary btn-tag-rounded pull-right m-r-5"
                  (click)="rolesStore.save()"
                >
                  <em class="icon-folder"></em>&nbsp;Save</button>
                <button
                  class="btn btn-tag btn-primary  btn-tag-primary btn-tag-rounded pull-right m-r-5"
                  (click)="rolesStore.deleteSelected()"
                >
                  <em class="icon-trash"></em>&nbsp;Delete</button>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="card-body p-l-0 p-r-0">
          <app-grid [store]="rolesStore"></app-grid>
        </div>
      </div>

    </div>

    <!--
    <div class="col-xs-6 col-md-6 col-lg-6">
      <div class="card card-default">
        <div class="card-header p-t-10">
          <div class="row">
            <div class="col-xs-3 col-md-3 col-lg-3">
              <h4 class="page-title inline btn-rounded m-b-0 m-t-5">
                <em class="icon-puzzle"></em>&nbsp;Functions </h4>
            </div>
            <div class="col-xs-9 col-md-9 col-lg-9">
              <div class="pull-right">
                <button
                  class="btn btn-tag btn-primary  btn-tag-primary btn-tag-rounded pull-right m-r-5"
                  (click)="functionsStore.insertRow()"
                >
                  <em class="icon-plus"></em>&nbsp;New</button>
                <button
                  class="btn btn-tag btn-primary  btn-tag-primary btn-tag-rounded pull-right m-r-5"
                  (click)="functionsStore.save()"
                >
                  <em class="icon-folder"></em>&nbsp;Save</button>
                <button
                  class="btn btn-tag btn-primary  btn-tag-primary btn-tag-rounded pull-right m-r-5"
                  (click)="functionsStore.deleteSelected()"
                >
                  <em class="icon-trash"></em>&nbsp;Delete</button>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="card-body p-l-0 p-r-0">
          <app-grid [store]="functionsStore"></app-grid>
        </div>
      </div>

    </div>

  -->

  </div>
</pg-container>
