<pg-container
  extraHorizontalClass="p-l-0 p-r-0"
  extraClass="sm-p-l-0 sm-p-r-0"
>
  <div
    class="inner"
    pg-parallax
  >
    <ol class="breadcrumb">
      <li
        class="breadcrumb-item breadcrumb-last-link"
        (click)="gotoSales()"
      >Sales</li>
      <li class="breadcrumb-item active"># {{saleId}}</li>
    </ol>
  </div>
</pg-container>
<div class="row">
  <div class="col-md-12 p-l-35 p-r-35">
    <div class="card card-transparent">
      <div class="card-body p-t-0">
        <form
          id="new-client-form"
          role="form"
          autocomplete="on"
          [formGroup]="salesForm"
        >

          <!-- Client information-->
          <p>
            <em class="icon-user m-l-5"></em>&nbsp;&nbsp;Client Details </p>
          <div
            formGroupName="clientDetails"
            class="form-group-attached"
          >
            <div class="row clearfix">
              <div class="col-md-12">
                <div class="form-group form-group-default required">
                  <label>Client</label>
                  <input
                    type="text"
                    class="form-control"
                    name="clientName"
                    formControlName="clientName"
                    readonly
                  >
                </div>
              </div>
            </div>
            <div class="row clearfix">
              <div class="col-md-4">
                <div class="form-group form-group-default">
                  <label>Contact Name</label>
                  <input
                    type="text"
                    class="form-control"
                    name="contactName"
                    formControlName="contactName"
                    readonly
                  > </div>
              </div>
              <div class="col-md-4">
                <div class="form-group form-group-default">
                  <label>Email</label>
                  <input
                    type="text"
                    class="form-control"
                    name="emailAddress"
                    formControlName="emailAddress"
                    readonly
                  > </div>
              </div>
              <div class="col-md-4">
                <div class="form-group form-group-default">
                  <label>Website</label>
                  <input
                    type="text"
                    class="form-control"
                    name="website"
                    formControlName="website"
                    readonly
                  > </div>
              </div>
            </div>

            <div class="row clearfix">
              <div class="col-md-4">
                <div class="form-group form-group-default">
                  <label>Country Code</label>
                  <input
                    type="text"
                    class="form-control"
                    name="phone1CountryCode"
                    formControlName="phone1CountryCode"
                    readonly
                  > </div>
              </div>
              <div class="col-md-4">
                <div class="form-group form-group-default">
                  <label>Phone Number 1</label>
                  <input
                    type="number"
                    class="form-control"
                    name="phone1Number"
                    formControlName="phone1Number"
                    readonly
                  >
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group form-group-default">
                  <label>Extension</label>
                  <input
                    type="text"
                    class="form-control"
                    name="phone1Extension"
                    formControlName="phone1Ext"
                    readonly
                  > </div>
              </div>
            </div>
            <div class="row clearfix">
              <div class="col-md-4">
                <div class="form-group form-group-default">
                  <label>Country Code</label>
                  <input
                    type="text"
                    class="form-control"
                    name="phone2CountryCode"
                    formControlName="phone2CountryCode"
                    readonly
                  > </div>
              </div>
              <div class="col-md-4">
                <div class="form-group form-group-default">
                  <label>Phone Number 2</label>
                  <input
                    type="number"
                    class="form-control"
                    name="phone2Number"
                    formControlName="phone2Number"
                    readonly
                  > </div>
              </div>
              <div class="col-md-4">
                <div class="form-group form-group-default">
                  <label>Extension</label>
                  <input
                    type="text"
                    class="form-control"
                    name="phone2Extension"
                    formControlName="phone2Ext"
                    readonly
                  > </div>
              </div>
            </div>

            <!-- Client Address form -->
            <div class="row clearfix">
              <div class="col-md-6">
                <div class="form-group form-group-default">
                  <label>Address Line1</label>
                  <input
                    type="text"
                    class="form-control"
                    name="addressLine1"
                    formControlName="addressLine1"
                    readonly
                  >
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group form-group-default">
                  <label>Address Line2</label>
                  <input
                    type="text"
                    class="form-control"
                    name="addressLine2"
                    formControlName="addressLine2"
                    readonly
                  > </div>
              </div>
            </div>
            <div class="row clearfix">
              <div class="col-md-6">
                <div class="form-group form-group-default">
                  <label>Country</label>
                  <input
                    type="text"
                    class="form-control"
                    name="country"
                    formControlName="country"
                    readonly
                  >
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group form-group-default">
                  <label>State</label>
                  <input
                    type="text"
                    class="form-control"
                    name="state"
                    formControlName="state"
                    readonly
                  > </div>
              </div>
            </div>
            <div class="row clearfix">
              <div class="col-md-6">
                <div class="form-group form-group-default required">
                  <label>City</label>
                  <input
                    type="text"
                    class="form-control"
                    name="city"
                    formControlName="city"
                    readonly
                  >
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group form-group-default required">
                  <label>Zip</label>
                  <input
                    type="text"
                    class="form-control"
                    name="zip"
                    formControlName="zip"
                    readonly
                  > </div>
              </div>
            </div>
          </div>
          <!-- End of Client information-->

          <!-- Lead/Project information-->
          <p class="m-t-30">
            <em class="icon-grid  m-l-5"></em>&nbsp;&nbsp;Project Information</p>
          <div
            class="form-group-attached"
            formGroupName="projectDetails"
          >

            <div class="row clearfix">
              <div class="col-md-12">
                <div
                  class="form-group form-group-default required"
                  [class.has-error]="isFieldValid(1, 'projectName')"
                >
                  <label>Project name</label>
                  <input
                    type="text"
                    class="form-control"
                    name="projectName"
                    formControlName="projectName"
                    [readonly]="readOnlyProjectDetails()"
                    required
                  >
                </div>
              </div>
            </div>

            <div class="row clearfix">
              <div class="col-md-6">
                <div
                  pgFormGroupDefault
                  class="form-group form-group-default required"
                  [class.has-error]="isFieldValid(1, 'projectContactName')"
                >
                  <label>Contact Preson</label>
                  <input
                    type="text"
                    class="form-control"
                    name="projectContactName"
                    formControlName="projectContactName"
                    [readonly]="readOnlyProjectDetails()"
                    required
                  >
                </div>
              </div>
              <div class="col-md-6">
                <div
                  pgFormGroupDefault
                  class="form-group form-group-default"
                >
                  <label>Email Address</label>
                  <input
                    type="text"
                    class="form-control"
                    name="projectContactEmail"
                    formControlName="projectContactEmail"
                    [readonly]="readOnlyProjectDetails()"
                  > </div>
              </div>
            </div>

            <div class="row clearfix">
              <div class="col-md-4">
                <div
                  pgFormGroupDefault
                  class="form-group form-group-default"
                >
                  <label>Country Code</label>
                  <input
                    type="text"
                    class="form-control"
                    name="projectPhone1CountryCode"
                    formControlName="projectPhone1CountryCode"
                    [readonly]="readOnlyProjectDetails()"
                  > </div>
              </div>
              <div class="col-md-4">
                <div
                  pgFormGroupDefault
                  class="form-group form-group-default required"
                  [class.has-error]="isFieldValid(1, 'projectPhone1Number')"
                >
                  <label>Phone Number 1</label>
                  <input
                    type="number"
                    class="form-control"
                    name="projectPhone1Number"
                    formControlName="projectPhone1Number"
                    [readonly]="readOnlyProjectDetails()"
                    required
                  >
                </div>
              </div>
              <div class="col-md-4">
                <div
                  pgFormGroupDefault
                  class="form-group form-group-default"
                >
                  <label>Extension</label>
                  <input
                    type="text"
                    class="form-control"
                    name="projectPhone1Ext"
                    formControlName="projectPhone1Ext"
                    [readonly]="readOnlyProjectDetails()"
                  > </div>
              </div>
            </div>

            <div class="row clearfix">
              <div class="col-md-4">
                <div
                  pgFormGroupDefault
                  class="form-group form-group-default"
                >
                  <label>Country Code</label>
                  <input
                    type="text"
                    class="form-control"
                    name="projectPhone2CountryCode"
                    formControlName="projectPhone2CountryCode"
                    [readonly]="readOnlyProjectDetails()"
                  > </div>
              </div>
              <div class="col-md-4">
                <div
                  pgFormGroupDefault
                  class="form-group form-group-default"
                >
                  <label>Phone Number 2</label>
                  <input
                    type="number"
                    class="form-control"
                    name="projectPhone2Number"
                    formControlName="projectPhone2Number"
                    [readonly]="readOnlyProjectDetails()"
                  > </div>
              </div>
              <div class="col-md-4">
                <div
                  pgFormGroupDefault
                  class="form-group form-group-default"
                >
                  <label>Extension</label>
                  <input
                    type="text"
                    class="form-control"
                    name="projectPhone2Ext"
                    formControlName="projectPhone2Ext"
                    [readonly]="readOnlyProjectDetails()"
                  > </div>
              </div>
            </div>

            <div class="row clearfix">
              <div class="col-md-6">
                <div
                  pgFormGroupDefault
                  class="form-group form-group-default required"
                  [class.has-error]="isFieldValid(1, 'projectAddressLine1')"
                >
                  <label>Address Line1</label>
                  <input
                    type="text"
                    class="form-control"
                    name="projectAddressLine1"
                    formControlName="projectAddressLine1"
                    (readonly)="readOnlyProjectDetails()"
                    required
                  >
                </div>
              </div>
              <div class="col-md-6">
                <div
                  pgFormGroupDefault
                  class="form-group form-group-default"
                >
                  <label>Address Line2</label>
                  <input
                    type="text"
                    class="form-control"
                    name="projectAddressLine2"
                    formControlName="projectAddressLine2"
                    (readonly)="readOnlyProjectDetails()"
                  > </div>
              </div>
            </div>

            <div class="row clearfix">
              <div class="col-md-6">
                <div
                  pgFormGroupDefault
                  class="form-group form-group-default required"
                  [class.has-error]="isFieldValid(1, 'projectCountry')"
                >
                  <label>Country</label>
                  <pg-select
                    (OpenChange)="onCountryChange($event)"
                    style="width: 100%;"
                    formControlName="projectCountry"
                    [PlaceHolder]="'Select Option'"
                    AllowClear
                    ShowSearch
                    [Disabled]="readOnlyProjectDetails()"
                    required
                  >
                    <pg-option
                      *ngFor="let country of countryStore.rows"
                      [Label]="country.name"
                      [Value]="country.name"
                    > </pg-option>
                  </pg-select>
                </div>
              </div>
              <div class="col-md-6">
                <div
                  pgFormGroupDefault
                  class="form-group form-group-default required"
                  [class.has-error]="isFieldValid(1, 'projectState')"
                >
                  <label>State</label>
                  <pg-select
                    style="width: 100%;"
                    formControlName="projectState"
                    [PlaceHolder]="'Select Option'"
                    AllowClear
                    ShowSearch
                    [Disabled]="readOnlyProjectDetails()"
                  >
                    <pg-option
                      *ngFor="let state of statesStore.rows"
                      [Label]="state.name"
                      [Value]="state.name"
                    > </pg-option>
                  </pg-select>
                </div>
              </div>
            </div>
            <div class="row clearfix">
              <div class="col-md-6">
                <div
                  pgFormGroupDefault
                  class="form-group form-group-default required"
                  [class.has-error]="isFieldValid(1, 'projectCity')"
                >
                  <label>City</label>
                  <input
                    type="text"
                    class="form-control"
                    name="projectCity"
                    formControlName="projectCity"
                    [readOnly]="readOnlyProjectDetails()"
                    required
                  >
                </div>
              </div>
              <div class="col-md-6">
                <div
                  pgFormGroupDefault
                  class="form-group form-group-default"
                >
                  <label>Zip</label>
                  <input
                    type="text"
                    class="form-control"
                    name="projectZip"
                    formControlName="projectZip"
                    [readonly]="readOnlyProjectDetails()"
                  > </div>
              </div>
            </div>
          </div>
          <!-- End of Lead/ Project information-->

          <!-- Bid Information-->
          <p class="m-t-30">
            <em class="icon-layers  m-l-5"></em>&nbsp;&nbsp;Bid Details</p>
          <div
            class="form-group-attached"
            formGroupName="projectDetails"
          >
            <div class="row clearfix">
              <div class="col-md-12">
                <div class="form-group form-group-default form-group-default-select2">
                  <label>Requirements</label>
                  <pg-select
                    style="width: 100%;"
                    [Mode]="'multiple'"
                    formControlName="bidType"
                    [Disabled]="readOnlyBidDetails()"
                  >
                    <pg-option
                      *ngFor="let value of requirements"
                      [Label]="value"
                      [Value]="value"
                    > </pg-option>
                  </pg-select>
                </div>
              </div>
            </div>

            <div class="row clearfix">
              <div class="col-md-6">
                <div
                  pgFormGroupDefault
                  class="form-group form-group-default"
                >
                  <label>Received Date</label>
                  <pg-datepicker
                    formControlName="bidReceivedDate"
                    [Disabled]="readOnlyBidDetails()"
                  ></pg-datepicker>
                </div>
              </div>
              <div class="col-md-6">
                <div
                  pgFormGroupDefault
                  class="form-group form-group-default"
                >
                  <label>Due Date</label>
                  <pg-datepicker
                    formControlName="bidDueDate"
                    [Disabled]="readOnlyBidDetails()"
                  ></pg-datepicker>
                </div>
              </div>
            </div>

            <div class="row clearfix">
              <div class="col-md-6">
                <div
                  pgFormGroupDefault
                  class="form-group form-group-default"
                >

                  <label>Documents Path</label>
                  <input
                    type="text"
                    class="form-control"
                    name="documentPath"
                    formControlName="documentPath"
                    [readonly]="readOnlyBidDetails()"
                  >
                </div>
              </div>
              <div class="col-md-6">
                <div
                  pgFormGroupDefault
                  class="form-group form-group-default"
                >
                  <label>Documents Received</label>
                  <input
                    type="text"
                    class="form-control"
                    name="documentReceived"
                    formControlName="documentReceived"
                    [readonly]="readOnlyBidDetails()"
                  >
                </div>
              </div>
            </div>

            <div
              class="row clearfix"
              *ngIf="isSalesManager()"
            >
              <div class="col-md-12">
                <div
                  pgFormGroupDefault
                  class="form-group form-group-default"
                >
                  <label>Executive</label>
                  <pg-select
                    style="width: 100%;"
                    formControlName="executive"
                    [PlaceHolder]="'Select Option'"
                    AllowClear
                    ShowSearch
                    [Disabled]="readOnlyBidDetails()"
                  >
                    <pg-option
                      *ngFor="let salesPerson of salesPersonStore.rows"
                      [Label]="salesPerson.displayName"
                      [Value]="salesPerson.userId"
                    > </pg-option>
                  </pg-select>
                </div>
              </div>
            </div>

            <div class="row clearfix">
              <div class="col-md-12">
                <div
                  pgFormGroupDefault
                  class="form-group form-group-default"
                >
                  <!-- [class.has-error]="isFieldValid(1, 'estimateLead')" -->
                  <label>Estimation Lead</label>
                  <pg-select
                    style="width: 100%;"
                    formControlName="estimateLead"
                    [PlaceHolder]="'Select Option'"
                    AllowClear
                    ShowSearch
                    [Disabled]="readOnlyBidDetails()"
                  >
                    <pg-option
                      *ngFor="let estimationLead of estimationLeadsStore.rows"
                      [Label]="estimationLead.displayName"
                      [Value]="estimationLead.userId"
                    > </pg-option>
                  </pg-select>
                </div>
              </div>
            </div>

            <div
              class="row clearfix"
              *ngIf="isEstimationManager()"
            >
              <div class="col-md-12">
                <div
                  pgFormGroupDefault
                  class="form-group form-group-default"
                >
                  <label>Estimator</label>
                  <pg-select
                    style="width: 100%;"
                    formControlName="estimator"
                    [PlaceHolder]="'Select Option'"
                    AllowClear
                    ShowSearch
                    [Disabled]="readOnlyBidDetails('estimator')"
                  >
                    <pg-option
                      *ngFor="let estimator of estimatorsStore.rows"
                      [Label]="estimator.displayName"
                      [Value]="estimator.userId"
                    > </pg-option>
                  </pg-select>
                </div>
              </div>
            </div>

            <div class="row clearfix">
              <div class="col-md-12">
                <div
                  pgFormGroupDefault
                  class="form-group form-group-default"
                >
                  <label>Remarks</label>
                  <textarea
                    type="text"
                    class="form-control"
                    name="salesRemarks"
                    formControlName="salesRemarks"
                    [readonly]="readOnlyBidDetails()"
                  ></textarea>
                </div>
              </div>
            </div>

          </div>
          <!-- End Bid Information-->

          <!-- Old Estimation revisions-->
          <div
            *ngIf="visibleOldEstimations()"
            formArrayName="oldEstimations"
          >
            <div *ngFor="let ctrl of salesForm.get('oldEstimations')['controls']; let _index = index">
              <p class="m-t-30">
                <em class="icon-list  m-l-5"></em>&nbsp;&nbsp;Estimation Revision-{{_index+1}}</p>
              <div
                class="form-group-attached"
                [formGroupName]="_index"
              >

                <div class="row clearfix">
                  <div class="col-md-12">
                    <div class="form-group form-group-default form-group-default-select2">
                      <label>MainSteel Inclusionsl</label>
                      <pg-select
                        style="width: 100%;"
                        Mode="multiple"
                        formControlName="mainSteelInclusions"
                        Disabled="true"
                      >
                        <pg-option
                          *ngFor="let row of filter('main_inclusions')"
                          [Label]="row.desc"
                          [Value]="row.desc"
                        > </pg-option>
                      </pg-select>
                    </div>
                  </div>
                </div>

                <div class="row clearfix">
                  <div class="col-md-12">
                    <div class="form-group form-group-default form-group-default-select2">
                      <label>MainSteel Exclusions</label>
                      <pg-select
                        style="width: 100%;"
                        Mode="multiple"
                        formControlName="mainSteelExclusions"
                        Disabled="true"
                      >
                        <pg-option
                          *ngFor="let row of filter('main_exclusions')"
                          [Label]="row.desc"
                          [Value]="row.desc"
                        > </pg-option>
                      </pg-select>
                    </div>
                  </div>
                </div>

                <div class="row clearfix">
                  <div class="col-md-12">
                    <div class="form-group form-group-default form-group-default-select2">
                      <label>Misc.Steel Inclusions</label>
                      <pg-select
                        style="width: 100%;"
                        Mode="multiple"
                        formControlName="miscSteelInclusions"
                        Disabled="true"
                      >
                        <pg-option
                          *ngFor="let row of filter('misc_inclusions')"
                          [Label]="row.desc"
                          [Value]="row.desc"
                        > </pg-option>
                      </pg-select>
                    </div>
                  </div>
                </div>

                <div class="row clearfix">
                  <div class="col-md-12">
                    <div class="form-group form-group-default form-group-default-select2">
                      <label>Main Steel Exclusion</label>
                      <pg-select
                        style="width: 100%;"
                        Mode="multiple"
                        formControlName="miscSteelExclusions"
                        Disabled="true"
                      >
                        <pg-option
                          *ngFor="let row of filter('misc_exclusions')"
                          [Label]="row.desc"
                          [Value]="row.desc"
                        > </pg-option>
                      </pg-select>
                    </div>
                  </div>
                </div>

                <div class="row clearfix">
                  <div class="col-md-3">
                    <div
                      pgFormGroupDefault
                      class="form-group form-group-default required"
                    >
                      <label>MainSteel Hours</label>
                      <input
                        type="number"
                        class="form-control"
                        name="mainSteelHours"
                        formControlName="mainSteelHours"
                        readonly
                      >
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div
                      pgFormGroupDefault
                      class="form-group form-group-default required"
                    >
                      <label>MainSteel Schedule (In Weeks)</label>
                      <input
                        type="text"
                        class="form-control"
                        name="mainSteelSchedule"
                        formControlName="mainSteelSchedule"
                        readonly
                      >
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div
                      pgFormGroupDefault
                      class="form-group form-group-default required"
                    >
                      <label>Misc. Hours</label>
                      <input
                        type="number"
                        class="form-control"
                        name="miscSteelHours"
                        formControlName="miscSteelHours"
                        readonly
                      >
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div
                      pgFormGroupDefault
                      class="form-group form-group-default required"
                    >
                      <label>Misc. Schedule (In Weeks)</label>
                      <input
                        type="text"
                        class="form-control"
                        name="miscSteelSchedule"
                        formControlName="miscSteelSchedule"
                        readonly
                      >
                    </div>
                  </div>
                </div>

                <div class="row clearfix">
                  <div class="col-md-12">
                    <div
                      pgFormGroupDefault
                      class="form-group form-group-default"
                    >
                      <label>Remarks</label>
                      <textarea
                        class="form-control"
                        name="remarks"
                        formControlName="remarks"
                        readonly
                      ></textarea> </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <!-- End Old Estimation-->

          <!-- Current Estimation-->
          <div *ngIf="visibleSaveEstimationBtn()">
            <p class="m-t-30">
              <em class="icon-list  m-l-5"></em>&nbsp;&nbsp;Estimation</p>
            <div
              class="form-group-attached"
              formGroupName="estimations"
            >

              <div class="row clearfix">
                <div class="col-md-12">
                  <div class="form-group form-group-default form-group-default-select2">
                    <label>MainSteel Inclusions</label>
                    <pg-select
                      style="width: 100%;"
                      [Mode]="'multiple'"
                      formControlName="mainSteelInclusions"
                      [PlaceHolder]="'Select Option'"
                      AllowClear
                      ShowSearch
                    >
                      <pg-option
                        *ngFor="let row of filter('main_inclusions')"
                        [Label]="row.desc"
                        [Value]="row.desc"
                      > </pg-option>
                    </pg-select>
                  </div>
                </div>
              </div>

              <div class="row clearfix">
                <div class="col-md-12">
                  <div class="form-group form-group-default form-group-default-select2">
                    <label>MainSteel Exclusions</label>
                    <pg-select
                      style="width: 100%;"
                      [Mode]="'multiple'"
                      formControlName="mainSteelExclusions"
                      [PlaceHolder]="'Select Option'"
                      AllowClear
                      ShowSearch
                    >
                      <pg-option
                        *ngFor="let row of filter('main_exclusions')"
                        [Label]="row.desc"
                        [Value]="row.desc"
                      > </pg-option>
                    </pg-select>
                  </div>
                </div>
              </div>

              <div class="row clearfix">
                <div class="col-md-12">
                  <div class="form-group form-group-default form-group-default-select2">
                    <label>Misc.Steel Inclusions</label>
                    <pg-select
                      style="width: 100%;"
                      [Mode]="'multiple'"
                      formControlName="miscSteelInclusions"
                      [PlaceHolder]="'Select Option'"
                      AllowClear
                      ShowSearch
                    >
                      <pg-option
                        *ngFor="let row of filter('misc_inclusions')"
                        [Label]="row.desc"
                        [Value]="row.desc"
                      > </pg-option>
                    </pg-select>
                  </div>
                </div>
              </div>

              <div class="row clearfix">
                <div class="col-md-12">
                  <div class="form-group form-group-default form-group-default-select2">
                    <label>Main Steel Exclusion</label>
                    <pg-select
                      style="width: 100%;"
                      [Mode]="'multiple'"
                      formControlName="miscSteelExclusions"
                      [PlaceHolder]="'Select Option'"
                      AllowClear
                      ShowSearch
                    >
                      <pg-option
                        *ngFor="let row of filter('misc_exclusions')"
                        [Label]="row.desc"
                        [Value]="row.desc"
                      > </pg-option>
                    </pg-select>
                  </div>
                </div>
              </div>

              <div class="row clearfix">
                <div class="col-md-3">
                  <div
                    pgFormGroupDefault
                    class="form-group form-group-default required"
                    [class.has-error]="isFieldValid(2, 'mainSteelHours')"
                  >
                    <label>MainSteel Hours</label>
                    <input
                      type="number"
                      class="form-control"
                      name="mainSteelHours"
                      formControlName="mainSteelHours"
                      required
                    >
                  </div>
                </div>
                <div class="col-md-3">
                  <div
                    pgFormGroupDefault
                    class="form-group form-group-default required"
                    [class.has-error]="isFieldValid(2, 'mainSteelSchedule')"
                  >
                    <label>MainSteel Schedule (In Weeks)</label>
                    <input
                      type="text"
                      class="form-control"
                      name="mainSteelSchedule"
                      formControlName="mainSteelSchedule"
                      required
                    >
                  </div>
                </div>
                <div class="col-md-3">
                  <div
                    pgFormGroupDefault
                    class="form-group form-group-default required"
                    [class.has-error]="isFieldValid(2, 'miscSteelHours')"
                  >
                    <label>Misc. Hours</label>
                    <input
                      type="number"
                      class="form-control"
                      name="miscSteelHours"
                      formControlName="miscSteelHours"
                      required
                    >
                  </div>
                </div>
                <div class="col-md-3">
                  <div
                    pgFormGroupDefault
                    class="form-group form-group-default required"
                    [class.has-error]="isFieldValid(2, 'miscSteelSchedule')"
                  >
                    <label>Misc. Schedule (In Weeks)</label>
                    <input
                      type="text"
                      class="form-control"
                      name="miscSteelSchedule"
                      formControlName="miscSteelSchedule"
                      required
                    >
                  </div>
                </div>
              </div>

              <div class="row clearfix">
                <div class="col-md-12">
                  <div
                    pgFormGroupDefault
                    class="form-group form-group-default"
                  >
                    <label>Remarks</label>
                    <textarea
                      class="form-control"
                      name="remarks"
                      formControlName="remarks"
                    ></textarea> </div>
                </div>
              </div>


            </div>
          </div>
          <!-- End of Current Estimation-->

          <!-- Old Quote revisions-->
          <div
            *ngIf="visibleOldEstimations()"
            formArrayName="oldQuotations"
          >
            <div *ngFor="let ctrl of salesForm.get('oldQuotations')['controls']; let _index = index">
              <p class="m-t-30">
                <em class="icon-list  m-l-5"></em>&nbsp;&nbsp;Quote Revision-{{_index+1}}</p>
              <div
                class="form-group-attached"
                [formGroupName]="_index"
              >
                <div class="row clearfix">
                  <div class="col-md-4">
                    <div
                      pgFormGroupDefault
                      class="form-group form-group-default required"
                    >
                      <label>MainSteel Price</label>
                      <input
                        type="number"
                        placeholder="Enter price"
                        formControlName="mainSteelPrice"
                        class="autonumeric form-control"
                        readonly
                      >
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div
                      pgFormGroupDefault
                      class="form-group form-group-default required"
                    >
                      <label>MainSteel Price</label>
                      <input
                        type="number"
                        placeholder="Enter price"
                        formControlName="miscSteelPrice"
                        class="autonumeric form-control"
                        readonly
                      >
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div
                      pgFormGroupDefault
                      class="form-group form-group-default required"
                    >
                      <label>Engineering Price</label>
                      <input
                        type="number"
                        placeholder="Enter price"
                        class="form-control"
                        formControlName="engineeringPrice"
                        readonly
                      >
                    </div>
                  </div>
                </div>

                <div class="row clearfix">
                  <div class="col-md-12">
                    <div
                      pgFormGroupDefault
                      class="form-group form-group-default"
                    >
                      <label>Remarks</label>
                      <textarea
                        class="form-control"
                        name="remarks"
                        formControlName="remarks"
                        readonly
                      ></textarea> </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <!-- End Quote Estimation-->


          <!-- Current Quote-->
          <div *ngIf="visibleCompleteQuoteBtn()">
            <p class="m-t-30">
              <em class="icon-list  m-l-5"></em>&nbsp;&nbsp;Quotation
            </p>
            <div
              class="form-group-attached"
              formGroupName="quotation"
            >

              <div class="row clearfix">
                <div class="col-md-4">
                  <div
                    pgFormGroupDefault
                    class="form-group form-group-default required"
                    [class.has-error]="isFieldValid(3, 'mainSteelPrice')"
                  >
                    <label>MainSteel Price</label>
                    <input
                      type="number"
                      placeholder="Enter price"
                      formControlName="mainSteelPrice"
                      class="autonumeric form-control"
                    >
                  </div>
                </div>
                <div class="col-md-4">
                  <div
                    pgFormGroupDefault
                    class="form-group form-group-default required"
                    [class.has-error]="isFieldValid(3, 'miscSteelPrice')"
                  >
                    <label>Main Steel Price</label>
                    <input
                      type="number"
                      placeholder="Enter price"
                      formControlName="miscSteelPrice"
                      class="autonumeric form-control"
                    >
                  </div>
                </div>
                <div class="col-md-4">
                  <div
                    pgFormGroupDefault
                    class="form-group form-group-default required"
                    [class.has-error]="isFieldValid(3, 'engineeringPrice')"
                  >
                    <label>Engineering Price</label>
                    <input
                      type="number"
                      placeholder="Enter price"
                      class="form-control"
                      formControlName="engineeringPrice"
                    >
                  </div>
                </div>
              </div>

              <div class="row clearfix">
                <div class="col-md-12">
                  <div
                    pgFormGroupDefault
                    class="form-group form-group-default required"
                  >
                    <label>Remarks</label>
                    <textarea
                      class="form-control"
                      name="remarks"
                      formControlName="remarks"
                    ></textarea> </div>
                </div>
              </div>

            </div>
          </div>
          <!-- End of Current Quote-->

          <!-- Submit buttons-->
          <div class="row clearfix m-t-20">
            <div class="col-sm-12 col-lg-12 col-md-12 text-center">
              <button
                *ngIf="visibleSaveAsDraftBtn()"
                class="btn btn-rounded btn-primary m-r-10"
                (click)="saveAsDraft()"
                [disabled]="isPageBusy()"
              ><em class="icon-folder"></em>&nbsp;Save as Draft</button>
              <button
                *ngIf="visibleSalesPublishBtn()"
                (click)="publishLead()"
                class="btn btn-rounded btn-primary m-r-10"
                [disabled]="isPageBusy()"
              ><em class="icon-share-alt"></em>&nbsp;Publish</button>
              <button
                *ngIf="visiableSendForEstimationBtn()"
                class="btn btn-rounded btn-primary m-r-10"
                (click)="sendLeadForEstimation()"
                [disabled]="isPageBusy()"
              ><em class="icon-share"></em>&nbsp;Send for Estimation</button>
              <button
                *ngIf="visibleSaveEstimationBtn()"
                class="btn btn-rounded btn-primary m-r-10"
                (click)="saveEstimation()"
                [disabled]="isPageBusy()"
              ><em class="icon-folder"></em>&nbsp;Save Estimation</button>
              <button
                *ngIf="visibleStartEstimationBtn()"
                (click)="startEstimation()"
                class="btn btn-rounded btn-primary m-r-10"
                [disabled]="isPageBusy()"
              ><em class="icon-arrow-right"></em>&nbsp;Start Estimation</button>
              <button
                *ngIf="isEstimationManager()"
                (click)="assignEstimaor()"
                class="btn btn-rounded btn-primary m-r-10"
                [disabled]="isPageBusy()"
              ><em class="icon-user"></em>&nbsp;Assign Estimator</button>
              <button
                *ngIf="visibleCompleteEstimationBtn()"
                (click)="completeEstimation()"
                class="btn btn-rounded btn-primary m-r-10"
                [disabled]="isPageBusy()"
              ><em class="icon-share"></em>&nbsp;Complete Estimation</button>
              <button
                *ngIf="visibleSendReEstimationBtn()"
                (click)="sendLeadForReEstimation()"
                class="btn btn-rounded btn-primary m-r-10"
                [disabled]="isPageBusy()"
              ><em class="icon-refresh"></em>&nbsp;Send For Re-Estimatation</button>
              <button
                *ngIf="visibleStartQuoteBtn()"
                (click)="startQuotation()"
                class="btn btn-rounded btn-primary m-r-10"
                [disabled]="isPageBusy()"
              ><em class="icon-arrow-right"></em>&nbsp;Start Quotation</button>

              <button
                *ngIf="visibleCompleteQuoteBtn()"
                (click)="saveQuotation()"
                class="btn btn-rounded btn-primary m-r-10"
                [disabled]="isPageBusy()"
              ><em class="icon-folder"></em>&nbsp;Save Quotation</button>
              <button
                *ngIf="visibleCompleteQuoteBtn()"
                (click)="completeQuotation()"
                class="btn btn-rounded btn-primary m-r-10"
                [disabled]="isPageBusy()"
              ><em class="icon-share"></em>&nbsp;Complete Quotation</button>
              <button
                *ngIf="visibleCloseLeadeBtn()"
                (click)="closeLeadModal.show()"
                class="btn btn-rounded btn-primary m-r-10"
                [disabled]="isPageBusy()"
              ><em class="icon-check"></em>&nbsp;Close Lead</button>
            </div>
          </div>

          <!-- End Submit buttons-->
        </form>
      </div>
    </div>
  </div>
</div>


<div
  bsModal
  #closeLeadModal="bs-modal"
  class="modal fade slide-up disable-scroll"
  tabindex="-1"
  role="dialog"
  aria-hidden="false"
>
  <div class="modal-dialog modal-md">
    <div class="modal-content-wrapper">
      <div class="modal-content">
        <div class="modal-header clearfix text-left">
          <button
            class="close"
            (click)="closeLeadModal.hide()"
            type="button"
          ><i class="pg pg-close fs-14"></i>
          </button>
          <h5><span class="semi-bold"><em class="icon-badge"></em>&nbsp;Lead Status</span></h5>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12 m-t-10  text-center">
              <select
                style="width:250px;padding: 5px;border-radius: 5px;"
                placeholder='Select an option'
                [(ngModel)]="leadFinalStatus"
              >
                <option
                  value=""
                  disabled
                  selected
                >Please Choose...</option>
                <option
                  *ngFor="let obj of leadCloseStatus"
                  [label]="obj.label"
                  [value]="obj.status"
                > </option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 m-t-10  text-center">
              <button
                class="btn btn-primary btn-rounded m-t-5"
                (click)="closeLead()"
                type="button"
              >Done</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
</div>
